@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

// VARIABLES START
$themeColor: #077bc3;
// VARIABLES END

/* GLOBAL CLASSES START */
html {
	width: 100%;
	overflow-x: hidden;
	font-size: 62.5%;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 60.5%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 58.5%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 56.5%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 52.5%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 50.5%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 46.5%;
	}
}

.themeBtn {
	border: none;
	outline: none;
	background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
	padding: 0.7rem 4.2rem;
	color: #fff;
	font-size: 1.4rem;
	border-radius: 6px;
	box-shadow: 1px 1px 12px #ccc;
}

.themeBtn2 {
	border: none;
	outline: none;
	background: #fff;
	box-shadow: 1px 1px 12px #ccc;
	padding: 0.7rem 4.2rem;
	font-size: 1.4rem;
	border-radius: 6px;
}

.themeBtn3 {
	border: none;
	outline: none;
	background: linear-gradient(270deg, #209edb 0%, #4dbcef 100%), #c4c4c4;
	box-shadow: 1px 1px 12px #ccc;
	padding: 0.7rem 4.2rem;
	font-size: 1.4rem;
	border-radius: 6px;
	color: #fff;
}

.themeColor {
	color: $themeColor;
}
/* GLOBAL CLASSES END */

.mainBody {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

// CONTAINER START
.home_container {
	background: #f1f1f1;
}
// CONTAINER END

// UPPER HEADER START
.upperHeader_container {
	background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 11111;

	.inner_container {
		max-width: 1090px;
		margin-left: auto;
		margin-right: auto;
	}
}
// UPPER HEADER END

/* ==== TOP NAVBAR START ==== */
.NavbarContainer {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	padding: 4.5rem 0rem;
	padding-bottom: 1.6rem;
	transition: 0.7s;
	z-index: 10000;
	box-shadow: 1px -1px 10px #ccc;
	background-color: #fff;

	.innerNavbar {
		max-width: 1090px;
		margin-left: auto;
		margin-right: auto;
	}

	.column1 {
		width: 29%;

		.logo_container {
			img {
				width: 100%;
			}
		}
	}
	.column2 {
		width: 36%;
		background: linear-gradient(180deg, #4dbcef 0%, #077bc3 100%);
		border-radius: 15px;

		.form-control {
			border-left: none;
			border-top-right-radius: 15px !important;
			border-bottom-right-radius: 15px !important;
			height: 45px;
			font-size: 1.8rem;

			&:focus {
				color: none;
				background-color: none;
				border-color: none;
				outline: 0;
				box-shadow: none;
			}
		}

		.input-group {
			height: 45px;

			.input-group-prepend {
				.input-group-text {
					background-color: #fff;
					border-top-left-radius: 15px;
					border-bottom-left-radius: 15px;
				}
			}
			.input-group-append {
				.input-group-text {
					background: none;
					border-left: none;
					border-top-right-radius: 15px !important;
					border-bottom-right-radius: 15px !important;
				}
			}
		}
	}
	.column3 {
		width: 35%;
	}

	@media screen and (max-width: 1050px) {
		.column3 {
			width: 40%;
		}
	}

	.headerCategory {
		background: linear-gradient(0deg, #dce5ec, #dce5ec), #c4c4c4;
		border-radius: 4px;
		padding: 0.4rem 0.8rem;
		font-size: 1.6rem;
		border: none;
		color: $themeColor;
	}

	.headerPoster {
		background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
		border-radius: 4px;
		padding: 0.4rem 0.8rem;
		font-size: 1.6rem;
		border: none;
		color: #fff;
	}

	.headerHeart {
		background: transparent;
		padding: 0.4rem 0.8rem;
		font-size: 1.6rem;
		border: none;
	}

	.userInfoDD {
		position: absolute;
		top: 155%;
		right: 0%;
		width: 350%;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0px 0px 10px rgb(231, 231, 231);

		li {
			font-size: 1.4rem;
			padding: 0.6rem 1.5rem;
			cursor: pointer;
			transition: 0.8s all;

			&:hover {
				color: $themeColor;
			}
		}

		li:nth-last-child(1) {
			background: #209edb;
			color: #fff;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	}

	.logo_container {
		cursor: pointer;
		img {
			transition: 0.7s;
		}

		@media screen and (max-width: 330px) {
			img {
				width: 150px;
			}
		}
	}
}

.NavbarContainer.sticky {
	padding: 1.2rem 0rem;
	box-shadow: 1px -1px 10px #ccc;
	background-color: #fff;

	.innerNavbar {
		max-width: 1090px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1000px) {
	.NavbarContainer,
	.NavbarContainer.sticky {
		padding: 4.5rem 1.6rem;
		padding-bottom: 1.6rem;
	}
}

@media screen and (max-width: 952px) {
	.NavbarContainer.sticky .HideClass i {
		color: #fff;
	}
}

@media screen and (max-width: 800px) {
	.NavbarContainer,
	.NavbarContainer.sticky {
		padding: 4.5rem 1.6rem;
		padding-bottom: 1.6rem;
	}
}
/* ==== TOP NAVBAR END ==== */

/* ==== FEATURE SECTION START ==== */
.feature_containerMain {
	padding-top: 15rem;
}

.feature_container {
	max-width: 1070px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	background-color: #fff;
	box-shadow: 0px 0px 10px #ccc;
	padding: 1.2rem 0rem;
	border-radius: 8px;

	.slick-prev:before {
		content: url("../assets/left.svg");
		font-weight: 900;
		background-color: #fff;
		height: 30px;
		width: 28px;
	}

	.slick-next:before {
		content: url("../assets/right.svg");
		color: black;
		font-weight: 900;
		font-size: 2rem;
		background-color: #fff;
		height: 30px;
		width: 28px;
	}

	.slick-prev {
		left: -1%;
	}
	.slick-next {
		right: -8px;
	}

	.slick-prev,
	.slick-next {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 11;
		background-color: #fff;
		border-radius: 6px;
		height: 30px;
		width: 28px;
		box-shadow: 1px 1px 10px rgb(224, 224, 224);

		&:hover {
			background-color: #fff;
			height: 30px;
			width: 28px;
		}
	}
}

.featureCard {
	border-radius: 8px;
	width: 114%;
	height: 83px;

	h5 {
		width: 100%;
	}
}

/* ==== FEATURE SECTION END ==== */

/* ==== MAIN BODY START ==== */
.annoncesCard {
	background: #fff;
	box-shadow: 1px 1px 10px #ccc;
	border-radius: 8px;
	width: 182px;

	h5 {
		color: $themeColor;
	}

	.imgContainer {
		position: relative;

		.productImg {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}

		.heartOnImg {
			position: absolute;
			top: 2%;
			right: 2%;
			padding: 1rem 0.4rem 0.8rem 0.4rem;
			background-color: rgba(255, 255, 255, 0.5);
			border-radius: 50%;
		}

		.titleOnImg {
			position: absolute;
			bottom: 3%;
			left: 4%;
			padding: 0.4rem 1.8rem;
			background: rgba(0, 0, 0, 0.4);
			border-radius: 10px;
		}

		.musicOnImg {
			position: absolute;
			bottom: -13%;
			right: 2%;
			padding: 1rem 0.9rem;
			background: linear-gradient(201.8deg, #22a1dc 14.29%, #067ac2 97.14%),
				#c4c4c4;
			border-radius: 50%;

			img {
				width: 30px;
				height: auto;
			}
		}
	}

	.cardBtns {
		button {
			border: none;
			font-size: 1.3rem;
		}
		button:nth-child(1) {
			background: linear-gradient(270deg, #e66f01 0%, #ff9501 100%), #c4c4c4;
			border-bottom-left-radius: 8px;
		}
		button:nth-child(2) {
			background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
			border-bottom-right-radius: 8px;
		}
	}
}
/* ==== MAIN BODY END ==== */

/* ==== FOOTER START ==== */
.footer_container {
	background: #fff;
	padding: 4rem 0rem 2rem 0rem;
	margin-top: 6rem;
	box-shadow: 1px 1px 10px #ccc;

	.innerFooter {
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
	}
}
.footerText {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
/* ==== FOOTER END ==== */

/* ==== SEARCH LIST BANNER START ==== */
.searchBanner_container {
	padding-top: 12rem;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;

	img {
		width: 100%;
	}
}
.searchTags {
	div {
		padding: 0.4rem 1.7rem;
		background-color: #fff;
		font-size: 1.2rem;
		border-radius: 6px;

		img {
			position: absolute;
			top: -28%;
			right: -6%;
		}
	}
}
/* ==== SEARCH LIST BANNER END ==== */

/* ==== SEARCH CATEGORY START ==== */
.searchCategory_container {
	background-color: #fff;
	width: 100%;
	padding: 1.2rem 1.5rem;

	.inpContainer {
		input {
			position: relative;
			width: 100%;
			height: 3rem;
			outline: none;
			border: 1px solid #ccc;
			border-radius: 6px;
			padding: 1rem;
			font-size: 1.4rem;
		}

		.searchIcon {
			position: absolute;
			top: 20%;
			right: 3%;
		}
	}

	.rangeInp {
		input {
			height: 3.2rem;
			padding: 0.7rem;
			font-size: 1.8rem;
		}
	}

	.MuiSlider-rail {
		background: #d0dcff;
		height: 6px;
	}

	.MuiSlider-track {
		background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
		height: 6px;
	}

	.MuiSlider-thumb {
		width: 18px;
		height: 18px;
		background-color: #fff;
		box-shadow: 1px 1px 10px #ccc;
		border: 1px solid #ccc;
		margin-top: -7px;
	}

	.PrivateValueLabel-circle-4 {
		background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
		font-size: 1.2rem;
	}

	.MuiSlider-valueLabel {
		left: calc(-30% - 4px);
	}

	.vendeurBtn {
		/* The container */
		.containerRadio {
			display: block;
			position: relative;
			padding-left: 28px;
			margin-bottom: 12px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/* Hide the browser's default radio button */
		.containerRadio input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

		/* Create a custom radio button */
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 18px;
			width: 18px;
			background-color: #eee;
			border-radius: 50%;
		}

		/* On mouse-over, add a grey background color */
		.containerRadio:hover input ~ .checkmark {
			background-color: #ccc;
		}

		/* When the radio button is checked, add a blue background */
		.containerRadio input:checked ~ .checkmark {
			background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
		}

		/* Create the indicator (the dot/circle - hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		/* Show the indicator (dot/circle) when checked */
		.containerRadio input:checked ~ .checkmark:after {
			display: block;
		}

		/* Style the indicator (dot/circle) */
		.containerRadio .checkmark:after {
			top: 6px;
			left: 6px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: white;
		}
	}

	.classementBtn {
		/* The container */
		.containerSelect {
			display: block;
			position: relative;
			padding-left: 22px;
			margin-bottom: 12px;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/* Hide the browser's default checkbox */
		.containerSelect input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}

		/* Create a custom checkbox */
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 16px;
			width: 16px;
			background-color: #eee;
		}

		/* On mouse-over, add a grey background color */
		.containerSelect:hover input ~ .checkmark {
			background-color: #ccc;
		}

		/* When the checkbox is checked, add a blue background */
		.containerSelect input:checked ~ .checkmark {
			background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
			border-radius: 4px;
		}

		/* Create the checkmark/indicator (hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

		/* Show the checkmark when checked */
		.containerSelect input:checked ~ .checkmark:after {
			display: block;
		}

		/* Style the checkmark/indicator */
		.containerSelect .checkmark:after {
			left: 5px;
			top: 3px;
			width: 5px;
			height: 8px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
/* ==== SEARCH CATEGORY END ==== */

/* ==== PRODUCT DETAILS START ==== */
.infoList {
	li:nth-child(odd) {
		background-color: #e6e6e6;
	}
}

.userBtn {
	button {
		border: none;
		font-size: 1.5rem;
		border-radius: 6px;
		box-shadow: 1px 1px 10px rgb(230, 230, 230);
	}
	button:nth-child(1) {
		background: linear-gradient(270deg, #e66f01 0%, #ff9501 100%), #c4c4c4;
	}
	button:nth-child(2) {
		background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
	}
}

.eyeBtn {
	span:nth-child(2) {
		background-color: #ccc;
		padding: 0.4rem 1rem;
		border-radius: 8px;
	}
}

.imageGalleryContainer {
	.image-gallery {
		box-shadow: 1px 1px 10px rgb(230, 230, 230);
		border-radius: 6px;
		background-color: #fff;
	}
	.image-gallery-image,
	.image-gallery-index,
	.image-gallery-thumbnail .image-gallery-thumbnail-image {
		border-radius: 6px;
	}

	.image-gallery-thumbnail.active,
	.image-gallery-thumbnail:hover,
	.image-gallery-thumbnail:focus {
		background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
	}

	.image-gallery-thumbnail {
		border-radius: 10px;
	}

	.image-gallery-slide .image-gallery-image {
		object-fit: fill;
	}

	.image-gallery-thumbnail .image-gallery-thumbnail-image {
		height: 82px;
	}

	.image-gallery-content .image-gallery-slide .image-gallery-image {
		max-height: 450px;
		height: 450px;
		background-color: #fff;
	}
}

/* ==== PRODUCT DETAILS END ==== */

// ================= MOBILE STYLING START ========================
.homeMobile_container {
	background: url(../assets/bluredBg.jpg);
	height: 400px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.mobileNavbar_container {
	padding: 1.5rem 1rem;
	background-color: #fff;
}

@media screen and (max-width: 350px) {
	.mobileNavbar_container {
		img {
			width: 36px;
			height: auto;
		}
		.logoContainer {
			img {
				width: 110px;
			}
		}
	}
}

// SEARCH FIELD START
.searchField {
	margin: 1.5rem 1rem;
	background: linear-gradient(180deg, #4dbcef 0%, #077bc3 100%);
	border-radius: 10px;

	.form-control {
		border-top-right-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
		height: 38px;
		font-size: 1.6rem;
		border: none;

		&:focus {
			color: none;
			background-color: none;
			border-color: none;
			outline: 0;
			box-shadow: none;
		}
	}

	.input-group {
		height: 38px;

		.input-group-prepend {
			.input-group-text {
				background-color: #fff;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				border: none;
			}
		}
		.input-group-append {
			.input-group-text {
				background: none;
				border-left: none;
				border-top-right-radius: 10px !important;
				border-bottom-right-radius: 10px !important;
				border: none;
			}
		}
	}
}
// SEARCH FIELD END

// HEADER BANNER START
.banner_container {
	margin: 1rem 1rem 1.4rem 1rem;
	background-color: #067ac2;
	border-radius: 8px;
}
// HEADER BANNER END

// FEATURE SECTION MOBILE START
.featureMobile_container {
	margin: 1rem;
	box-shadow: 0px 1px 10px #ccc;

	.mobileFeatureCard {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-left: 1px solid rgba(0, 0, 0, 0.1);
	}
}
// FEATURE SECTION MOBILE END

// ANNONCES CARD MOBILE START
.annoncesCardMobile {
	background: #fff;
	box-shadow: 1px 1px 10px #ccc;
	border-radius: 8px;

	h5 {
		color: $themeColor;
	}

	.imgContainer {
		position: relative;

		.productImg {
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}

		.heartOnImg {
			position: absolute;
			top: 2%;
			right: 2%;
			padding: 1rem 0.4rem 0.8rem 0.4rem;
			background-color: rgba(255, 255, 255, 0.5);
			border-radius: 50%;
		}

		.titleOnImg {
			position: absolute;
			bottom: 3%;
			left: 4%;
			padding: 0.4rem 1.8rem;
			background: rgba(0, 0, 0, 0.4);
			border-radius: 10px;
		}

		.musicOnImg {
			position: absolute;
			bottom: -13%;
			right: 2%;
			padding: 1rem 0.9rem;
			background: linear-gradient(201.8deg, #22a1dc 14.29%, #067ac2 97.14%),
				#c4c4c4;
			border-radius: 50%;

			img {
				width: 30px;
				height: auto;
			}
		}
	}

	.cardBtns {
		button {
			border: none;
			font-size: 1.3rem;
		}
		button:nth-child(1) {
			background: linear-gradient(270deg, #e66f01 0%, #ff9501 100%), #c4c4c4;
			border-bottom-left-radius: 8px;
		}
		button:nth-child(2) {
			background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
			border-bottom-right-radius: 8px;
		}
	}
}
// ANNONCES CARD MOBILE END

// BOTTOM NAVIGATION START
.bottomNav_container {
	position: fixed;
	width: 100%;
	left: 0%;
	bottom: 0%;

	.main_container {
		position: relative;
		width: 100%;
	}

	.main_div {
		display: flex;
		justify-content: space-around;
		margin-top: 2rem;
		padding: 1rem 0rem 0.5rem 0rem;
		background: #fff;
		box-shadow: 0px 0px 10px #ccc;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;

		.each_navigation {
			display: flex;
			flex-direction: column;
			align-items: center;

			.NavIcon {
				color: #007bff;
				padding: 0.4rem;
				border-radius: 50%;
				font-size: 3.5rem;
			}

			h6 {
				font-size: 1.4rem;
				color: #000;
				font-weight: 600;
			}
		}
	}

	.addBtn {
		position: absolute;
		top: -20%;
		left: 50%;
		width: fit-content;
		transform: translate(-50%);

		span {
			background-color: #007bff;
			padding: 10px 14px 14px 13px;
			border-radius: 50%;
			font-size: 2.5rem;
			color: #fff;
		}
	}
}
// BOTTOM NAVIGATION END

// ================= MOBILE STYLING END ========================
