@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* GLOBAL CLASSES START */
html {
  width: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 60.5%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 58.5%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 56.5%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 52.5%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 50.5%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 46.5%;
  }
}

/* GLOBAL CLASSES END */
.mainBody {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.home_container {
  background: #f1f1f1;
}

.upperHeader_container {
  background: -webkit-gradient(linear, right top, left top, from(#067ac2), to(#209edb)), #c4c4c4;
  background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 11111;
}

.upperHeader_container .inner_container {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
}

/* ==== TOP NAVBAR START ==== */
.NavbarContainer {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem 6.6rem;
  padding-bottom: 1.6rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 10000;
  -webkit-box-shadow: 1px -1px 10px #ccc;
          box-shadow: 1px -1px 10px #ccc;
  background-color: #fff;
}

.NavbarContainer .column1 {
  width: 29%;
}

.NavbarContainer .column1 .logo_container img {
  width: 100%;
}

.NavbarContainer .column2 {
  width: 36%;
  background: -webkit-gradient(linear, left top, left bottom, from(#4dbcef), to(#077bc3));
  background: linear-gradient(180deg, #4dbcef 0%, #077bc3 100%);
  border-radius: 15px;
}

.NavbarContainer .column2 .form-control {
  border-left: none;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  height: 45px;
  font-size: 1.8rem;
}

.NavbarContainer .column2 .form-control:focus {
  color: none;
  background-color: none;
  border-color: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.NavbarContainer .column2 .input-group {
  height: 45px;
}

.NavbarContainer .column2 .input-group .input-group-prepend .input-group-text {
  background-color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.NavbarContainer .column2 .input-group .input-group-append .input-group-text {
  background: none;
  border-left: none;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.NavbarContainer .column3 {
  width: 35%;
}

@media screen and (max-width: 1000px) {
  .NavbarContainer .column3 {
    width: 40%;
  }
}

.NavbarContainer .headerCategory {
  background: -webkit-gradient(linear, left bottom, left top, from(#dce5ec), to(#dce5ec)), #c4c4c4;
  background: linear-gradient(0deg, #dce5ec, #dce5ec), #c4c4c4;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
  border: none;
  color: #077bc3;
}

.NavbarContainer .headerPoster {
  background: -webkit-gradient(linear, right top, left top, from(#067ac2), to(#209edb)), #c4c4c4;
  background: linear-gradient(270deg, #067ac2 0%, #209edb 100%), #c4c4c4;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
  border: none;
  color: #fff;
}

.NavbarContainer .headerHeart {
  background: transparent;
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
  border: none;
}

.NavbarContainer .userInfoDD {
  position: absolute;
  top: 155%;
  right: 0%;
  width: 350%;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px #e7e7e7;
          box-shadow: 0px 0px 10px #e7e7e7;
}

.NavbarContainer .userInfoDD li {
  font-size: 1.4rem;
  padding: 0.6rem 1.5rem;
  cursor: pointer;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.NavbarContainer .userInfoDD li:hover {
  color: #077bc3;
}

.NavbarContainer .userInfoDD li:nth-last-child(1) {
  background: #209edb;
  color: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.NavbarContainer .logo_container {
  cursor: pointer;
}

.NavbarContainer .logo_container img {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

@media screen and (max-width: 330px) {
  .NavbarContainer .logo_container img {
    width: 150px;
  }
}

.NavbarContainer.sticky {
  padding: 1.2rem 6.6rem;
  padding-bottom: 1.2rem;
  -webkit-box-shadow: 1px -1px 10px #ccc;
          box-shadow: 1px -1px 10px #ccc;
  background-color: #fff;
}

@media screen and (max-width: 1000px) {
  .NavbarContainer,
  .NavbarContainer.sticky {
    padding: 4.5rem 1.6rem;
    padding-bottom: 1.6rem;
  }
}

@media screen and (max-width: 952px) {
  .NavbarContainer.sticky .HideClass i {
    color: #fff;
  }
}

@media screen and (max-width: 800px) {
  .NavbarContainer,
  .NavbarContainer.sticky {
    padding: 4.5rem 1.6rem;
    padding-bottom: 1.6rem;
  }
}

/* ==== TOP NAVBAR END ==== */
/* ==== FEATURE SECTION START ==== */
.feature_containerMain {
  padding-top: 15rem;
}

.feature_container {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px #ccc;
          box-shadow: 0px 0px 10px #ccc;
  padding: 1.2rem 0rem;
  border-radius: 8px;
}

.featureCard {
  border-radius: 8px;
  width: 114%;
}

.featureCard h4 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ==== FEATURE SECTION END ==== */
/* ==== MAIN BODY START ==== */
.annoncesCard {
  background: #fff;
  -webkit-box-shadow: 1px 1px 10px #ccc;
          box-shadow: 1px 1px 10px #ccc;
  border-radius: 8px;
  width: 188px;
}

.annoncesCard h5 {
  color: #077bc3;
}

.annoncesCard .imgContainer {
  position: relative;
}

.annoncesCard .imgContainer .productImg {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.annoncesCard .imgContainer .heartOnImg {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 1rem 0.4rem 0.8rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.annoncesCard .imgContainer .titleOnImg {
  position: absolute;
  bottom: 3%;
  left: 4%;
  padding: 0.4rem 1.8rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.annoncesCard .imgContainer .musicOnImg {
  position: absolute;
  bottom: -13%;
  right: 2%;
  padding: 1rem 0.9rem;
  background: linear-gradient(201.8deg, #22a1dc 14.29%, #067ac2 97.14%), #c4c4c4;
  border-radius: 50%;
}

.annoncesCard .imgContainer .musicOnImg img {
  width: 30px;
  height: auto;
}

.annoncesCard .cardBtns button {
  border: none;
}

.annoncesCard .cardBtns button:nth-child(1) {
  background: -webkit-gradient(linear, right top, left top, from(#e66f01), to(#ff9501)), #c4c4c4;
  background: linear-gradient(270deg, #e66f01 0%, #ff9501 100%), #c4c4c4;
  border-bottom-left-radius: 8px;
}

.annoncesCard .cardBtns button:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(#4dbcef), color-stop(98.04%, #1b8acc)), #ffffff;
  background: linear-gradient(90deg, #4dbcef 0%, #1b8acc 98.04%), #ffffff;
  border-bottom-right-radius: 8px;
}

/* ==== MAIN BODY END ==== */
/* ==== FOOTER START ==== */
.footer_container {
  background: #fff;
  padding: 4rem 0rem 2rem 0rem;
  margin-top: 6rem;
  -webkit-box-shadow: 1px 1px 10px #ccc;
          box-shadow: 1px 1px 10px #ccc;
}

.footer_container .innerFooter {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.footerText {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* ==== FOOTER END ==== */
/*# sourceMappingURL=style.css.map */